.AppContainer {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 255, 0.3)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center center;
  background-position: fixed;
  display: grid;
  grid-template-rows: 50px 1fr 20px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.AppHeader {
  grid-area: header;
  background: var(--background);
  padding: 0 5px;
  color: #131313;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .AppHeader {
    padding: 0 20px;
  }
}

.Logo {
  height: 35px;
  text-align: left;
}

.AppFooter {
  grid-area: footer;
  align-self: end;
  padding: 0 5px;
  box-sizing: border-box;
  color: grey;
  font-size: 0.75rem;
  text-align: right;
}
