@font-face {
  font-family: "Dosis";
  src: url("./fonts/Dosis-Regular.ttf");
}

html {
  box-sizing: border-box;
  font-family: "Dosis";
  font-weight: 400;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* :root {
  --grey: #c8c9c8;
  --primary: #5e2eb3;
  --primaryHover: #6435c9;
  --success: #21ba45;
  --successHover: #16ab39;
  --danger: #db2828;
  --dangerHover: #d01919;
  --error: #9f3a38;
  --white: #ffffff;
  --default: #00000099;
  --defaultHover: #c8c9c8;
  --background: #f5f5f5;
  --errorBackground: #fff5f5;
  --primaryBorder: #6435c950;
  --defaultBorder: #22242626;
  --defaultBackground: #fefffe;
} */
